* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}



.header {
    height: 40vh;
    background-image: url(../assets/imgs/desktop-medium.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    color: #ffffff;
    letter-spacing: -1px;
}

.header h1 {
    text-align: center;
}


.introduction {
    height: 38.4rem;
    background-image: url(../assets/imgs/space-medium.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.introduction__background-lg {
    height: 38.4rem;
    background: linear-gradient(180deg, rgba(15,76,117,1) 30%, rgba(208,224,227,0) 100%);
}

.introduction__container {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: minmax(5rem, auto);
    justify-content: center;
    align-items: center;
}

.name__container {
    max-width: 36rem;
    /*esto es por si, en mobile, el usuario
    decide aumentar el tamaño de fuente del navegador*/
}

.name{
    font-weight: 500;
    line-height: 4rem;
    padding-top: 1.5rem;
    text-align: center;
    color: white;
    font-size: 2.5rem;
}

.curriculum__container {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.curriculum {
    display: block;
    font-size: 2rem;
    border: 3px solid black;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    color: white;
    border-radius: 20px;
    padding: 8px;
}



.contact__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
}


.image {
    height: 7.3rem;
    width: 8.1rem;
}





.knowledge {
    font-family: 'Lato', sans-serif;
    background-color: #A0ACBD;
    min-height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.knowledge__container {
    /* margin: 3rem; */
    /* width: 85%; */
    background-color: #3C4856;
    padding: 3rem;
    max-width: 85%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border-radius: 3rem;
}

.knowledge__container-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: white;
}

.knowledge__container-list {
    text-align: center;
    list-style: none;
    color: white;
}

.knowledge__container-list li {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    
}




.projects {
    height: auto;
    width: 100%;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.projects__title {
    font-size: 2.4rem;
    text-align: center;
    line-height: 5rem;
}

.project__container {
    /* width: 90%; */
    display: grid;
    /* justify-content: center; */
    place-items: center;
    grid-auto-rows: minmax(3rem, auto);

    /* display: flex;
    flex-direction: column;
    align-self: center; */
}

.project__image__container {
    height: 90%;
}

.project__image {
    border-radius: 2rem;
    height: 100%;
    
}

.project__title {
    font-size: 1.8rem;
}

.project__description {
    max-width: 80%;
    text-align: center;
    font-size: 1.5rem;
}

.project__links {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.project__links-webpage {
    text-decoration: none;
    color: black;
}

.project__links-code {
    text-decoration: none;
    color: black;
}


.back-to-start {
    line-height: 4rem;
    text-align: center;
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
}



