* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}



.header {
    width: 100%;
    height: 40vh;
    background-image: url(../assets/imgs/desktop-medium.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    color: #ffffff;
    letter-spacing: -1px;
}



.introduction {
    width: 100%;
    height: 60vh;
    background-image: url(../assets/imgs/space-small.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.introduction__greetings {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(15,76,117,1) 30%, rgba(208,224,227,0) 100%);
    display: flex;
    flex-direction: column;
}

.introduction__greetings .name {
    height: 25%;
    color: white;
    font-size: 1.8rem;
    text-align: center;
}

.introduction__greetings .name h2 {
    font-weight: 500;
}

.curriculum_container {
    height: 25%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.curriculum {
    display: block;
    font-size: 2.3rem;
    border: 3px solid black;
    text-decoration: none;
    font-weight: 500;
    color: black;
    /* background-color: #B7CECE; */
    background-color: #91E07F;
    border-radius: 20px;
    padding: 8px;
}



.contact {
    /* background-color: cyan; */
    display: flex;
    flex-direction: row;
    height: 25%;
}

.link {
    min-width: 50%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link .url {
    height: 100%;
    
} 

.link .url img {
    height: 100%;
}

.knowledge {
    font-family: 'Lato', sans-serif;
    background-color: violet;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.knowledge__container {
    /* margin: 3rem; */
    /* width: 85%; */
    background-color: cadetblue;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border-radius: 3rem;
}

.knowledge__container-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.knowledge__container-list {
    text-align: center;
    list-style: none;
}

.knowledge__container-list li {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    
}






